@import url("reset.css");
header {
  width: 100%;
  height: 200px;
  background-color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .container {
  width: 70%;
  height: 100px;
}

header .container .con-top {
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container .con-top .logo h1 {
  font-size: 2.5rem;
  color: #c0bab6;
  font-family: 'Times New Roman', Times, serif;
}

header .container .con-top .logo h5 {
  color: #c0bab6;
  font-family: 'Times New Roman', Times, serif;
}

header .container .con-top .inp-tx {
  background-color: #232323;
  width: 212px;
  height: 16px;
  padding: 5px;
  border: 1px solid #919191;
  color: #fff;
}

header .container .inp-sb {
  background-color: #ff9900;
  width: 70px;
  height: 26px;
  padding: 5px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 14px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 100%;
  background-color: #232323;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header nav ul li a {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

header .container nav ul li a:hover {
  color: #ff9900;
}

section .sec-1 {
  width: 960px;
  height: 300px;
  margin: 30px auto 30px auto;
}

section .sec-1 .sol {
  width: 290px;
  height: 260px;
  background-color: #464646;
  padding: 20px;
  float: left;
}

section .sec-1 .sol h1 {
  display: inline-block;
  color: #989898;
  font-size: 42px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0 auto;
}

section .sec-1 .sol .metn {
  color: #989898;
  font-size: 13px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 20px;
}

section .sec-1 .sol a {
  display: block;
  text-align: right;
  font-size: 13px;
  color: #ff9900;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 50px;
  text-decoration: none;
}

section .sec-1 .sag {
  width: 630px;
  height: 300px;
  float: left;
  background-color: #232323;
}

section .sec-1 .sag h2 {
  color: #fff;
  font-size: 35px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  margin-top: 120px;
}

.sec-2 {
  width: 960px;
  height: 175px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid #979797;
  margin-bottom: 60px;
}

.sec-2 .sol {
  width: 470px;
  height: 175px;
  margin: 20px;
}

.sec-2 .sol h3 {
  font-size: 22px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #979797;
  margin-bottom: 15px;
}

.sec-2 .sol p {
  font-size: 13px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 10px;
  color: #979797;
}

.sec-2 .sol p span {
  color: #ff9900;
  cursor: pointer;
}

.sec-2 .sag {
  width: 470px;
  height: 175px;
}

.sec-2 .sag .qutular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sec-2 .sag .qutular .qutu {
  width: 130px;
  height: 70px;
  border: 1px solid #d6d6d6;
  background-color: #232323;
  color: #fff;
  text-align: center;
  padding-top: 60px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

.sec-2 .sag h2 {
  color: #ff9900;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
}

.sec-3 {
  width: 960px;
  height: 225px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.sec-3 .blog {
  width: 225px;
  height: 225px;
  margin-right: 20px;
}

.sec-3 .blog h1 {
  font-size: 16px;
  color: #979797;
  margin-bottom: 25px;
  font-weight: bold;
}

.sec-3 .blog h2 {
  font-size: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #979797;
}

.sec-3 .blog h6 {
  color: #979797;
  font-size: 13px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.sec-3 .blog h6 span {
  color: #ff9900;
  cursor: pointer;
}

.sec-3 .blog p {
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #979797;
}

.sec-3 .blog a {
  display: block;
  text-decoration: none;
  color: #ff9900;
  margin-top: 20px;
}

.sec-3 .link {
  width: 225px;
  height: 225px;
  margin-right: 20px;
}

.sec-3 .link h1 {
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  color: #979797;
  margin-bottom: 25px;
}

.sec-3 .link ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sec-3 .link ul li {
  display: block;
  width: 225px;
  height: 25px;
  border-bottom: 1px solid #c0bab6;
  padding: 5px;
}

.sec-3 .link ul li a {
  text-decoration: none;
  color: #ff9900;
  font-size: 13px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.sec-3 .about {
  width: 470px;
  height: 225px;
}

.sec-3 .about h1 {
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  color: #979797;
  margin-bottom: 25px;
}

.sec-3 .about .qutu {
  width: 130px;
  height: 70px;
  border: 1px solid #d6d6d6;
  background-color: #232323;
  color: #fff;
  text-align: center;
  padding-top: 60px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  float: left;
  margin-bottom: 20px;
}

.sec-3 .about .metn {
  width: 310px;
  height: 130px;
  float: left;
  margin-left: 20px;
  margin-bottom: 20px;
}

.sec-3 .about .metn p {
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #979797;
}

.sec-3 .about a {
  display: block;
  text-decoration: none;
  color: #ff9900;
  margin-top: 20px;
  text-align: right;
}

footer {
  width: 100%;
  height: 60px;
  background-color: #232323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .foot {
  width: 70%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .foot p {
  color: #919191;
}
/*# sourceMappingURL=style.css.map */